<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/stylesheet/music-player.css">
    {% include "parts/header.html" %}
    <link rel="stylesheet" href="static/stylesheet/editingpage.css">
    <link rel="stylesheet" href="static/stylesheet/music-player.css">
    <script src="static/scripts/applemusic.js"></script>
    <title class="lang" id="editing-page-title"></title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header position-fixed" style="background-color:#00b8d4">
        <div class="mdl-layout__header-row "> <span class="mdl-layout-title" id="project-title"
                                                    style="font-family:微软雅黑;color: white"></span>
        </div>
        <a href="index.html" aria-expanded="false" role="button"
           tabindex="0" class="mdl-layout__drawer-button"> <i class="material-icons" style="color:white">arrow_back</i>
        </a>
        <div class="mdl-layout__header-row" style="background-color: white"> <span class="mdl-layout-title"
                                                                                   id="artist-name"
                                                                                   style="color:black"></span>
            <span class="mdl-layout-title lang" id="saving-status"
                  style="color:black;margin-left:20px"></span>
            <div id="tooltip" class="icon material-icons" style="color: black">info</div>
            <div class="mdl-tooltip mdl-tooltip--large lang" id="currentInfo" for="tooltip"></div>
            <div>
                <div class="mdl-spinner mdl-js-spinner is-active"
                     id="loading-progressbar"></div>
            </div>
        </div>
        <div id="loading-bar" style="width:100%" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </header>
    <main class="mdl-layout__content" style="margin-top: 110px">
        <div class="container-fluid">
            {% include "parts/selector.html" %}
            <div id="lyricsDisplay" style="margin-bottom: 300px;margin-top: 0px;"></div>
            <div id="floatBtn" class="fixed-bottom"></div>
            <div id="music-player"></div>
            <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
            {% include "parts/dialog2.html" %}
            <script>
                var dialog = $("#dialog").dialog({
                    autoOpen: false,
                    dialogClass: "mdl-dialog",
                    position: {
                        my: "top",
                        at: "top",
                        of: ".mdl-layout__header",

                    },
                    width: "auto",
                    height: "auto",
                });
                $('.ui-dialog-titlebar').hide();
                // var dialog = document.querySelector('dialog');
                const applemusic = new Applemusic();
                applemusic.createHTML();
                $(document).on('click', '#usingApplemusic', function () {
                    dialog.dialog("open")
                });
                $(document).on("click", ".close", function () {
                    dialog.dialog("close")
                })

            </script>
        </div>
    </main>
    <script>
        $(function () {
            $(document).tooltip({
                content: function (callback) {
                    var originText = $(this).attr('value');
                    $.getJSON(`https://sa0biepvrj.execute-api.us-east-1.amazonaws.com/api/translate/${originText}`).done(function (data) {
                        var output = "翻译：" + data[0]["translation"];
                        callback(output)
                    })
                },
            })
        });
    </script>
</div>

</body>
<script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>

<!--<script src="scripts/bundle.js" async></script>-->
<script src="static/scripts/translation.js"></script>
<script src="static/scripts/jqueryPlugin.js"></script>
<script src="static/scripts/editing-page.js"></script>
<script src="static/scripts/musicPlayer.js"></script>
<script src="static/scripts/edit-page-music-player.js"></script>
<script src="static/scripts/translation.js"></script>
</html>